<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.darkes.musicality">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <receiver android:name=".util.NotificationPublishReceiver"/>

        <activity
            android:name=".metronome.MetronomeActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity android:name=".bpm.BpmActivity"
                  android:screenOrientation="portrait">

        </activity>
        <activity android:name=".tuner.GuitarTunerActivity"
                  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                       android:resource="@xml/shortcuts" />

        </activity>
    </application>

</manifest>