<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.darkes.musicality">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/applogodropshadow"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
    <!--android:theme="@style/AppTheme"-->


        <activity android:name=".TunerActivity">


            <!-- android:label="@string/app_name" -->
            <!-- android:theme="@style/AppTheme.NoActionBar"> -->
            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN"/> -->


            <!-- <category android:name="android.intent.category.LAUNCHER"/> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".MetronomeActivity"
            android:label="@string/app_name">
            <!--android:theme="@style/AppTheme.NoActionBar">-->


            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <receiver android:name=".NotificationPublishReceiver"/>

        <activity android:name=".BPMActivity">


        </activity>

        <activity android:name=".metronome.MetronomeA">
            
        </activity>

    </application>

</manifest>